@media (min-width: 768px) {
  .flexJustifyAround {
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: 768px) {
  .spaceX5 {
    margin-right: 20px;
  }
}
.mr {
  margin-right: 8px;
}

.hoverAccentOrange {
 
  color: white, 
}
.hoverAccentOrange:hover {
  color: #ff9500;

}

.wh {
  width: 2.5rem;
  height: 1rem;
}
.copyright {
  color:#a1a1a4 ;
  font-weight: 700;
  font-family: monospace;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}